/* XD DESIGN */
@font-face {
    font-family: NotoSansCJK-JP-Bold;
    src: url('../fonts/NotoSansCJKjp-Bold.otf');
}
@font-face {
    font-family: NotoSansCJK-JP-Medium;
    src: url('../fonts/NotoSansCJKjp-Medium.otf');
}
@font-face {
    font-family: NotoSansCJK-JP-Regular;
    src: url('../fonts/NotoSansCJKjp-Regular.otf');
}
@font-face {
    font-family: NotoSans-JP-Bold;
    src: url('../fonts/NotoSansJP-Bold.otf');
}
@font-face {
    font-family: NotoSans-JP-Medium;
    src: url('../fonts/NotoSansJP-Medium.otf');
}
@font-face {
    font-family: NotoSans-JP-Regular;
    src: url('../fonts/NotoSansJP-Regular.otf');
}
@font-face {
    font-family: SFProText-Regular;
    src: url('../fonts/FontsFree-Net-SFProText-Regular.ttf');
}

.moneq-navbar {
    height: 70px;
    background-color: white;
}

.behind-bar {
    width: 100%;
    height: 70px !important;    
}
.moneq-navbar #logo {
    padding-left: 40px;
}

.moneq-navbar #title {
    padding-left: 22.6px;
    font-family: NotoSans-JP-Regular;
    font-size: 17px !important;
}

.moneq-navbar #btnLogin {
    font-family: NotoSans-JP-Regular;
    font-size: 13px !important;
    width: 147px;
    height: 30px;
    font-weight: 400;
    color: black;
    background-color: #ffd800;
    margin-right: 45px;
}

.moneq-navbar #btnRegister {
    font-family: NotoSans-JP-Regular;
    font-size: 13px !important;
    color: black;
    margin-right: 33px;
}

.header {
    position: relative;
    width: 100%;
    height: 704px !important;
    top: 0px !important;
    background-image: url('../images/svg/top-main-overlay.svg');
    background-size: cover;
    background-position: center;
}

header .overlay {
    position: absolute;
    min-height: 704px !important;
    min-width: 100%;
    left: 0;
    top: 0;
    background: transparent;
}

header .description {
    position: absolute;
    top: 63px !important;
    margin-left: 300px !important;
}
header .description #heading1 {
    font-family: NotoSans-JP-Bold;
    font-size: 57px !important;
    color: black;
    letter-spacing: 3px;
}
header .description #heading1 span{
    color: #ffd800;
}
header .description #heading2 {
    font-family: NotoSans-JP-Regular;
    font-size: 57px !important;
    color: black;
    margin-left: 35px;
    margin-top: -20px !important;
    letter-spacing: 3px;
}
header .description #static1 {
    position: absolute;
    font-family: NotoSans-JP-Bold;
    font-size: 17px !important;
    color: black;
    margin-left: 114px !important;
    margin-top: 23px !important;
    min-height: 47px !important;
    min-width: 403px !important;
    background-image: url('../images/svg/img-message-aqua-long.svg');
    background-size: cover;
    background-position: center;
}
header .description #static2 {
    position: absolute;
    margin-left: 48px !important;
    margin-top: 80.4px !important;
    min-height: 142px !important;
    min-width: 528px !important;
    background-image: url('../images/svg/img-logo-title-large.svg');
    background-size: cover;
    background-position: center;
}

header .description #static1 p{
    padding-top: 0.25rem !important;
    letter-spacing: 3px;
}

header .description #searchbar{
    margin-top: 249px !important;
    margin-left: 98px !important;
    min-width: 430px !important;
    min-height: 52px !important;
    font-family: NotoSans-JP-Medium;
    font-size: 17px !important;
}
header .description #searchbar input{
    min-width: 378px !important;
    max-width: 378px !important;
    border: 1px solid #e3e3e3;
    padding: 0px 0px 0px 10px;
}
header .description #searchbar button{
    max-width: 52px !important;
    min-width: 52px !important;
    background-color: #ee7800;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid #e3e3e3;
}
header .description #searchbar i{
    font-size: 1.5em;
}
header .description #heading3 {
    font-family: NotoSans-JP-Medium;
    font-size: 16.3px !important;
    color: black;
    margin-left: 120px;
    margin-top: 36px !important;
    letter-spacing: 2px;
}

/* ------------- */

.sectionbar1 {
    width: 100%;
    height: 133px !important;
    background-color: #221815;
}
.sectionbar1 #overview {
    min-width: 960px !important;
    height: 75px !important;
    text-align: center;
}
.sectionbar1 .overviewCard #title {
    font-family: NotoSans-JP-Medium;
    font-size: 20px !important;
    color: white;
}
.sectionbar1 .overviewCard #number {
    font-family: NotoSans-JP-Medium;
    font-size: 29px !important;
    color: white;
    display: inline-block;
}
.sectionbar1 .overviewCard #unit {
    font-family: NotoSans-JP-Regular;
    font-size: 15px !important;
    color: white;
    display: inline-block;
}

/* ------------ */

.sectionbar2 {
    height: 671px !important;
    width: 100%;
    background-color: white;
}
.sectionbar2 #row1 .title {
    margin-top: 80px;
    width: 420px !important;
    height: 46px !important;
    font-family: NotoSans-JP-Bold;
    font-size: 32px !important;
    color: black;
}
.sectionbar2 #row2 {
    width: 860px !important;
    height: 305px !important;
}
.sectionbar2 #row2 .text1 {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: black;
    text-align: center;
    border: 0px;
    width: 208px !important;
    /* height: 48px !important; */
}
.sectionbar2 #row2 .text2 {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: black;
    text-align: center;
    border: 0px;
    width: 178px !important;
    /* height: 48px !important; */
}
.sectionbar2 #row3 {
    margin-top: 50px;
    width: 656px !important;
    height: 95px !important;
}
.sectionbar2 #row3 .title2 {
    font-family: NotoSans-JP-Bold;
    font-size: 32px !important;
    color: black;
}

/* --------- */

.sectionbar3 {
    height: 842px !important;
    width: 100%;
    background-color: #fff9f2;
}
.sectionbar3 #row1 {
    width: 310px !important;
}
.sectionbar3 #row1 .title {
    margin-top: 80px;
    font-family: NotoSans-JP-Medium;
    font-size: 18px !important;
    color: black;
}
.sectionbar3 #row1 .title1 {
    font-family: NotoSans-JP-Bold;
    font-size: 30px !important;
    color: black;
    padding-top: 0.75rem !important;
}
.sectionbar3 #row2 article {
    width: 340px !important;
    height: 405px !important;
    margin-top: 50px;
}
.sectionbar3 #row2 article .roundbtn {
    width: 164px !important;
    height: 38px !important;
    border-radius: 19px;
    background-color: #221815;
    color: white;
    font-family: NotoSans-JP-Medium;
    font-size: 24px !important;
}
.sectionbar3 #row2 article #tagline1 {
    font-family: NotoSans-JP-Medium;
    font-size: 24px !important;
    color: black;
    width: 192px !important;
    height: 38px !important;
    margin-top: 21px;
    margin-bottom: 0px;
    padding: 0px;
}
.sectionbar3 #row2 article #tagline2 {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: black;
    padding : 0px;
}


/* ----------- */

.sectionbar4 {
    height: 675px !important;
    width: 100%;
    background-color: white;
}
.sectionbar4 #row1 img {
    margin-top: 80px;
}
.sectionbar4 #row1 .title1 {
    font-family: NotoSans-JP-Bold;
    font-size: 30px !important;
    color: black;
    padding-top: 0.75rem !important;
    padding-left: 0.25rem !important;
    margin-top: 80px;
}
.sectionbar4 #row1 .title2 {
    font-family: NotoSans-JP-Bold;
    font-size: 38px !important;
    color: black;
    padding-top: 0.0rem !important;
    margin-top: 80px;
}
.sectionbar4 #row2 article {
    width: 320px !important;
    height: 307px !important;
    margin-top: 50px;
}
.sectionbar4 #row2 article #tagline1 {
    font-family: NotoSans-JP-Medium;
    font-size: 20px !important;
    color: black;
    padding: 0px;
}
.sectionbar4 #row2 article span {
    font-family: NotoSans-JP-Medium;
    font-size: 24px !important;
    color: black;
    padding: 0px;
}
.sectionbar4 #row2 article #tagline2 {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: black;
    padding: 0px;
}

/* ----------- */

.sectionbar5 {
    height: 888px !important;
    width: 100%;
    background-color: #fff9f2;
}
.sectionbar5 #row1 .title1 {
    font-family: NotoSans-JP-Bold;
    font-size: 32px !important;
    color: black;
    margin-top: 80px;
}
.sectionbar5 #row2 .tag {
    float: left;
    width: 150px !important;
}
.sectionbar5 #row2 .tag li {
    border-bottom:1px solid #e3e3e3;
    border-right:1px solid #e3e3e3;
    border-left:1px solid #e3e3e3;
    background-color: #f2f2f2;
}
.sectionbar5 #row2 .columns {
    float: left;
    width: 280px !important;
}
.sectionbar5 #row2 .price,
.sectionbar5 #row2 .tag {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.sectionbar5 #row2 .tag .tagheader{
    border:0px solid transparent !important; 
    background-color: transparent !important;
    height: 70px !important;
}
.sectionbar5 #row2 .tag li {
    height: 90px !important;
    font-family: NotoSans-JP-Bold;
    font-size: 16px !important;
    display: flex; /* allows align-items to work below */
    justify-content: center; /* Horizontally centers single-line elements */
    text-align:center; /* Horizontally centers text within line-wrapped elements */
    align-items: center; /* vertical */
}
.sectionbar5 #row2 .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.4)
}
.sectionbar5 #row2 .price .membership1 {
    background-color: #ee7800;
    color: white;
    font-family: NotoSans-JP-Bold;
    font-size: 16px !important;
    text-align: center;
    height: 70px !important;
}
.sectionbar5 #row2 #membership1 .price,
.sectionbar5 #row2 #membership1 li {
    border-bottom:1px solid #ee7800;
    border-right:1px solid #ee7800;
    border-left:1px solid #ee7800;
}
.sectionbar5 #row2 .price .membership2 {
    background-color: #FEDC1A;
    color: black;
    font-family: NotoSans-JP-Bold;
    font-size: 16px !important;
    text-align: center;
    height: 70px !important;
}
.sectionbar5 #row2 #membership2 .price,
.sectionbar5 #row2 #membership2 li {
    border-bottom:1px solid #fedc1a;
    border-right:1px solid #fedc1a;
    border-left:1px solid #fedc1a;
}

.sectionbar5 #row2 .price .membership3 {
    background-color: #E3E3E3;
    color: black;
    font-family: NotoSans-JP-Bold;
    font-size: 16px !important;
    text-align: center;
    height: 70px !important;
}
.sectionbar5 #row2 #membership3 .price,
.sectionbar5 #row2 #membership3 li {
    border-bottom:1px solid #e3e3e3;
    border-right:1px solid #e3e3e3;
    border-left:1px solid #e3e3e3;
}
.sectionbar5 #row2 .price li {
    height: 90px !important;
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    display: flex; /* allows align-items to work below */
    justify-content: center; /* Horizontally centers single-line elements */
    text-align:center; /* Horizontally centers text within line-wrapped elements */
    align-items: center; /* vertical */
    background-color: white;
}

/* ----------- */

.sectionbar6 {
    height: 345px !important;
    width: 100%;
    background-image: url('../images/image-mask-1.png');
}
.sectionbar6 #row1 .title1 {
    font-family: NotoSans-JP-Bold;
    font-size: 32px !important;
    color: white;
}

/* ----------- */

.sectionbar7 {
    background-color: white;
}
.sectionbar7 .title1 {
    font-family: NotoSans-JP-Bold;
    font-size: 32px !important;
    color: #221815;
    margin-bottom: 0px !important;
}
.sectionbar7 ul {
    margin-top: 50px;
}
.sectionbar7 #row1 {
    width: 1140px !important;
}
.sectionbar7 #tab1 {
    margin-top: 40px !important;
}

.sectionbar7 #row2 {
    width: 1140px !important;
    margin-top: 80px;
    border-top: 1px solid #9B9B9B;
}
.sectionbar7 #tab2 {
    margin-top: 40px !important;
}
.sectionbar7 #tab2 .userinfo {
    width: 565px !important;
    height: 170px !important;
}

.sectionbar7 #row3 {
    width: 1140px !important;
    /* height: 590px !important; */
    margin-top: 80px;
}
.sectionbar7 #row3 #title1 {
    font-family: NotoSans-JP-Medium;
    font-size: 20px !important;
    color: #221815;  
}
.sectionbar7 #row3 span {
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
    color: #221815;  
}

/* ----------- */
.bdyellow {
    border-bottom: 2px solid #ffd800;
}
.bdred {
    border-bottom: 2px solid red;
}
.yellow-roundbtn{
    background-color: #ffd800;
    width: 500px !important;
    height: 50px !important;
    border-radius: 25px !important;
    font-family: NotoSans-JP-Medium;
    font-size: 20px !important;
    letter-spacing: 3px;
}
.orange-roundbtn-150-30{
    background-color: #ee7800;
    width: 150px !important;
    height: 30px !important;
    border-radius: 15px !important;
    font-family: NotoSans-JP-Regular;
    font-size: 13px !important;
    color: white;
}
.yellow-roundbtn-150-30{
    background-color: #ffd800;
    width: 150px !important;
    height: 30px !important;
    border-radius: 15px !important;
    font-family: NotoSans-JP-Regular;
    font-size: 13px !important;
    color: black;
}
.white-roundbtn-150-30{
    background-color: white;
    width: 150px !important;
    height: 30px !important;
    border-radius: 15px !important;
    font-family: NotoSans-JP-Regular;
    font-size: 13px !important;
    color: black;
    border : 1px solid black;
}

.nav .nav-link {
    color: #9B9B9B;
    border-bottom: 2px solid #9B9B9B;
    font-family: NotoSans-JP-Medium;
    font-size: 20px !important;
    padding: 0.25rem 0.0rem;
    margin-right: 1.0rem;
}
.nav .nav-link.active {
    color: black;
    border-bottom: 2px solid #ffd800;
}
.nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav > li {
    float: left;
    margin-bottom: -1px;
}

/* ----------- */
article #article {
    padding:30px !important;
    border: 1px solid #9b9b9b;
}
article #article #tag {
    width: 44px !important;
    height: 22px !important;
    background-color: #ffd800;
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
}
article #article #title {
    font-family: NotoSans-JP-Bold;
    font-size: 24px !important;
    color: #221815;
    margin-top: 10px !important;
}
article #article #description {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: #221815;
    margin-top: 12px !important;
}
.avatar {
    width: 60px !important;
    height: 60px !important;
}
article #article #name {
    font-family: NotoSans-JP-Medium;
    font-size: 18px !important;
    color: #221815;
    margin-left: 20px;
}
article #article #age {
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
    color: #9B9B9B;
    margin-left: 10px;
}
article #article #date {
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
    color: #9B9B9B;
    vertical-align: middle;
}
article #article #unsolved {
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
    color: red;
    margin-left: 30px;
}
article #article #solved {
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
    color: #008000;
    margin-left: 30px;
}
article #article #dashline {
    border-style: dotted;
    background-color: #9B9B9B;
    height: 1px !important;
}
article #article .avatar{
    border-radius: 50% !important;
    border: 1px solid #9b9b9b;
}
article #article #answers {
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
    color: black;
}
article #article #persons {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: #ffd800;
    margin-left: 10px;
}
article #article #wait {
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
    color: #ffd800;
}

/* ------------- */
article #userinfo {
    border: 1px solid #9b9b9b;
    margin:5px;
}
article .ranking {
    position: absolute;
    top:0px;
}
article #userinfo #avatar {
    margin-top:35px;
    margin-left:35px;
    margin-bottom:50px;
}
article #userinfo #content {
    margin-left: 20px;
    margin-top: 30px;
}
article #userinfo #name {
    font-family: NotoSans-JP-Medium;
    font-size: 18px !important;
    color: #221815;
}
article #userinfo #name1 {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: #9B9B9B;
    margin-left: 15px;
}
article #userinfo #card {
    font-family: NotoSans-JP-Regular;
    font-size: 14px !important;
    color: #221815;
}
article #userinfo #number {
    font-family: NotoSans-JP-Regular;
    font-size: 18px !important;
    color: #221815;
}










/* ------------- */
.blackpanel {
    background-color: black;
}

.lightgreypanel {
    background-color: #f3f3f3;
}

.whitepanel {
    background-color: #ffffff;
}

#plantable td {
    text-align: center;
}

#plantable colgroup col.first {
    background-color: #f3f3f3;
}

#plantable colgroup col.second {
    background-color: #fff3cc;
}

#plantable colgroup col.third {
    background-color: #f3e4d6;
}

#plantable colgroup col.fourth {
    background-color: #ffffff;
}

.panel {
    margin-top: 25px;
}
.panel-heading {
    padding: 5px 5px 0 5px;
}

.mright {
    margin-right: 10px;
}

span.answers {
    color: darkred;
    font-weight: bold;
}

/* span.date, span.resolved {
    float: right;
} */

.keepOneLine {
    white-space: nowrap;
    overflow: hidden;
}

.keepTwoLine {
    overflow: hidden;
    line-height: 1.5em;
    height: 3.5em;
}

.underlineFor {
    border-bottom: 1px solid black;
}

.line {
    background-color: #00ff00;
    color: white;
    width:100%;
}

.yahoo {
    background-color: red;
    color: white;
    width:100%;
}

.fb {
    background-color: #3B5998;
    color: white;
    width:100%;
}

.twitter {
    background-color: #55ACEE;
    color: white;
    width:100%;
}

.google {
    background-color: #dd4b39;
    color: white;
    width:100%;
}

.btn {
    border-radius: 0px;
}

.fa-bell-o[data-count]:after{
    position:absolute;
    right:15%;
    top:15%;
    content: attr(data-count);
    font-size:30%;
    padding:.6em;
    border-radius:50%;
    line-height:.8em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 1em;
    font-weight:bold;
}

.btnSubmit {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    background-color: black;
    color: white;
}

.btnSelected {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #FF7820;
    color: white;
    font-weight: bold;
}

.btnGreen {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background-color: #00d583;
    color: white;
    font-weight: bold;
}

.btnBlue {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #0070c0;
    color: white;
    font-weight: bold;
}

.btnSelected:hover {
    color: white;
}

.btnUnselected {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: transparent;
    color: black;
    border: 1px solid;
    border-color: grey;
    font-weight: bold;
}

.btnUnselected:hover {
    color : black;
}

section {
    padding-top: 0.5rem !important;
    padding-bottom: 1.0rem !important;
}

article {
    padding: 1.25rem !important;
    min-width: 280px;
    max-width: 280px;
}

.btnLayer {
    padding-top: 1.5rem !important;
    padding-bottom: 0.25rem !important;
}

.textCenter {
    text-align-last: center;
    text-align: center;
}

input[type="checkbox"].checkboxHidden {
    opacity:0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

input[type="checkbox"] + label {
    font-size: 1rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

input[type="checkbox"]:checked + label>span {
    background-color: #FF7820;
    color: white;
    font-weight: bold;
    border-color: #FF7820;
}

.radio-input + label {
    font-size: 1rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.radio-input:checked + label {
    color: red;
    font-weight: bold;
}

.radio-input + label::before {
    border: 0px solid;
}

.radio-input:checked + label::after {
    background-color: transparent;
}

.radio-input:checked + label>span {
    background-color: #FF7820;
    color: white;
    font-weight: bold;
    border-color: #FF7820;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

