/* XD DESIGN */
@font-face {
    font-family: NotoSansCJK-JP-Bold;
    src: url('../fonts/NotoSansCJKjp-Bold.otf');
}
@font-face {
    font-family: NotoSansCJK-JP-Medium;
    src: url('../fonts/NotoSansCJKjp-Medium.otf');
}
@font-face {
    font-family: NotoSansCJK-JP-Regular;
    src: url('../fonts/NotoSansCJKjp-Regular.otf');
}
@font-face {
    font-family: NotoSans-JP-Bold;
    src: url('../fonts/NotoSansJP-Bold.otf');
}
@font-face {
    font-family: NotoSans-JP-Medium;
    src: url('../fonts/NotoSansJP-Medium.otf');
}
@font-face {
    font-family: NotoSans-JP-Regular;
    src: url('../fonts/NotoSansJP-Regular.otf');
}
@font-face {
    font-family: SFProText-Regular;
    src: url('../fonts/FontsFree-Net-SFProText-Regular.ttf');
}

.moneq-navbar {
    height: 70px;
    background-color: white;
}

.moneq-navbar #logo {
    padding-left: 40px;
}

.moneq-navbar #title {
    padding-left: 22.6px;
    font-family: NotoSans-JP-Regular;
    font-size: 17px !important;
}

.moneq-navbar #btnLogin {
    font-family: NotoSans-JP-Regular;
    font-size: 13px !important;
    width: 147px;
    height: 30px;
    font-weight: 400;
    color: black;
    background-color: #ffd800;
    margin-right: 45px;
}

.moneq-navbar #btnRegister {
    font-family: NotoSans-JP-Regular;
    font-size: 13px !important;
    color: black;
    margin-right: 33px;
}

.header {
    position: relative;
    width: 100%;
    height: 704px !important;
    top: 70px !important;
    background-image: url('../images/svg/top-main-overlay.svg');
    background-size: cover;
    background-position: center;
}

header .overlay {
    position: absolute;
    min-height: 704px !important;
    min-width: 100%;
    left: 0;
    top: 0;
    background: transparent;
}

header .description {
    position: absolute;
    top: 63px !important;
    margin-left: 300px !important;
}
header .description #heading1 {
    font-family: NotoSans-JP-Bold;
    font-size: 57px !important;
    color: black;
    letter-spacing: 3px;
}
header .description #heading1 span{
    color: #ffd800;
}
header .description #heading2 {
    font-family: NotoSans-JP-Regular;
    font-size: 57px !important;
    color: black;
    margin-left: 35px;
    margin-top: -20px !important;
    letter-spacing: 3px;
}
header .description #static1 {
    position: absolute;
    font-family: NotoSans-JP-Bold;
    font-size: 17px !important;
    color: black;
    margin-left: 114px !important;
    margin-top: 23px !important;
    min-height: 47px !important;
    min-width: 403px !important;
    background-image: url('../images/svg/img-message-aqua-long.svg');
    background-size: cover;
    background-position: center;
}
header .description #static2 {
    position: absolute;
    margin-left: 48px !important;
    margin-top: 80.4px !important;
    min-height: 142px !important;
    min-width: 528px !important;
    background-image: url('../images/svg/img-logo-title-large.svg');
    background-size: cover;
    background-position: center;
}

header .description #static1 p{
    padding-top: 0.25rem !important;
    letter-spacing: 3px;
}

header .description #searchbar{
    margin-top: 249px !important;
    margin-left: 98px !important;
    min-width: 430px !important;
    min-height: 52px !important;
    font-family: NotoSans-JP-Medium;
    font-size: 17px !important;
}
header .description #searchbar input{
    min-width: 378px !important;
    max-width: 378px !important;
    border: 1px solid #e3e3e3;
    padding: 0px 0px 0px 10px;
}
header .description #searchbar button{
    max-width: 52px !important;
    min-width: 52px !important;
    background-color: #ee7800;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid #e3e3e3;
}
header .description #searchbar i{
    font-size: 1.5em;
}
header .description #heading3 {
    font-family: NotoSans-JP-Medium;
    font-size: 16.3px !important;
    color: black;
    margin-left: 120px;
    margin-top: 36px !important;
    letter-spacing: 2px;
}
header .description a{
    margin-top: 20px !important;
    background-color: #ffd800;
    width: 500px !important;
    height: 50px !important;
    border-radius: 25px;
    font-family: NotoSans-JP-Medium;
    font-size: 20px !important;
    letter-spacing: 3px;
}

.sectionbar1 {
    width: 100%;
    height: 133px !important;
    background-color: #221815;
    margin-top: 70px;
}
.sectionbar1 #overview {
    min-width: 960px !important;
    height: 75px !important;
    text-align: center;
}
.sectionbar1 .overviewCard #title {
    font-family: NotoSans-JP-Medium;
    font-size: 20px !important;
    color: white;
}
.sectionbar1 .overviewCard #number {
    font-family: NotoSans-JP-Medium;
    font-size: 29px !important;
    color: white;
    display: inline-block;
}
.sectionbar1 .overviewCard #unit {
    font-family: NotoSans-JP-Regular;
    font-size: 15px !important;
    color: white;
    display: inline-block;
}

.sectionbar2 {
    height: 671px !important;
    width: 100%;
    background-color: white;
}
.sectionbar2 #row1 .title {
    margin-top: 80px;
    width: 420px !important;
    height: 46px !important;
    font-family: NotoSans-JP-Bold;
    font-size: 32px !important;
    color: black;
}
.sectionbar2 #row2 {
    width: 860px !important;
    height: 305px !important;
}
.sectionbar2 #row2 .text1 {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: black;
    text-align: center;
    border: 0px;
    width: 208px !important;
    /* height: 48px !important; */
}
.sectionbar2 #row2 .text2 {
    font-family: NotoSans-JP-Regular;
    font-size: 16px !important;
    color: black;
    text-align: center;
    border: 0px;
    width: 178px !important;
    /* height: 48px !important; */
}
.sectionbar2 #row3 {
    margin-top: 50px;
    width: 656px !important;
    height: 95px !important;
}
.sectionbar2 #row3 .title2 {
    font-family: NotoSans-JP-Bold;
    font-size: 32px !important;
    color: black;
}

.sectionbar3 {
    height: 842px !important;
    width: 100%;
    background-color: #fff9f2;
}
.sectionbar3 #row1 {
    width: 310px !important;
}
.sectionbar3 #row1 .title {
    margin-top: 80px;
    font-family: NotoSans-JP-Medium;
    font-size: 18px !important;
    color: black;
}
.sectionbar3 #row1 .title1 {
    font-family: NotoSans-JP-Bold;
    font-size: 30px !important;
    color: black;
    padding-top: 0.75rem !important;
}
.sectionbar3 #row2 article {
    width: 340px !important;
    height: 405px !important;
    background-color: red;
}


/* ------------- */
.blackpanel {
    background-color: black;
}

.lightgreypanel {
    background-color: #f3f3f3;
}

.whitepanel {
    background-color: #ffffff;
}

#plantable td {
    text-align: center;
}

#plantable colgroup col.first {
    background-color: #f3f3f3;
}

#plantable colgroup col.second {
    background-color: #fff3cc;
}

#plantable colgroup col.third {
    background-color: #f3e4d6;
}

#plantable colgroup col.fourth {
    background-color: #ffffff;
}

.panel {
    margin-top: 25px;
}
.panel-heading {
    padding: 5px 5px 0 5px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    color: #ffffff;
    background-color: #FF7820;
}

.nav-link {
    font-size: 1.25rem;
    margin-left: 5px;
}

.tab-content {
    background-color: #ffffff;
    padding: 25px;
}

.nav-tabs .nav-link.active {
    font-weight: 700;
    font-size : 1.2rem;
    color: black;
    background-color: #fff;
    border-color: #ffffff #ffffff #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

span.name, span.age, .mright {
    margin-right: 10px;
}

span.answers {
    color: darkred;
    font-weight: bold;
}

/* span.date, span.resolved {
    float: right;
} */

.keepOneLine {
    white-space: nowrap;
    overflow: hidden;
}

.keepTwoLine {
    overflow: hidden;
    line-height: 1.5em;
    height: 3.5em;
}

.underlineFor {
    border-bottom: 1px solid black;
}

.line {
    background-color: #00ff00;
    color: white;
    width:100%;
}

.yahoo {
    background-color: red;
    color: white;
    width:100%;
}

.fb {
    background-color: #3B5998;
    color: white;
    width:100%;
}

.twitter {
    background-color: #55ACEE;
    color: white;
    width:100%;
}

.google {
    background-color: #dd4b39;
    color: white;
    width:100%;
}

.btn {
    border-radius: 0px;
}

.fa-bell-o[data-count]:after{
    position:absolute;
    right:15%;
    top:15%;
    content: attr(data-count);
    font-size:30%;
    padding:.6em;
    border-radius:50%;
    line-height:.8em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 1em;
    font-weight:bold;
}

.btnSubmit {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    background-color: black;
    color: white;
}

.btnSelected {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #FF7820;
    color: white;
    font-weight: bold;
}

.btnGreen {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background-color: #00d583;
    color: white;
    font-weight: bold;
}

.btnBlue {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #0070c0;
    color: white;
    font-weight: bold;
}

.btnSelected:hover {
    color: white;
}

.btnUnselected {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: transparent;
    color: black;
    border: 1px solid;
    border-color: grey;
    font-weight: bold;
}

.btnUnselected:hover {
    color : black;
}

section {
    padding-top: 0.5rem !important;
    padding-bottom: 1.0rem !important;
}

article {
    padding: 1.25rem !important;
    min-width: 280px;
    max-width: 280px;
}

.btnLayer {
    padding-top: 1.5rem !important;
    padding-bottom: 0.25rem !important;
}

.textCenter {
    text-align-last: center;
    text-align: center;
}

input[type="checkbox"].checkboxHidden {
    opacity:0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

input[type="checkbox"] + label {
    font-size: 1rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

input[type="checkbox"]:checked + label>span {
    background-color: #FF7820;
    color: white;
    font-weight: bold;
    border-color: #FF7820;
}

.radio-input + label {
    font-size: 1rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.radio-input:checked + label {
    color: red;
    font-weight: bold;
}

.radio-input + label::before {
    border: 0px solid;
}

.radio-input:checked + label::after {
    background-color: transparent;
}

.radio-input:checked + label>span {
    background-color: #FF7820;
    color: white;
    font-weight: bold;
    border-color: #FF7820;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

